<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockblast.solver">

    <!-- Izin kamera untuk fitur scan grid -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlockBlastSolver">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PieceSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SolutionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Activity baru: scan grid via kamera -->
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
